# Jangan gunakan tanda kutip( " dan ' )

API_KEY=28546122
API_HASH=1362989efa3451381155df9caf32e244
STRING_SESSION=BQBrhl_JFpoo0DJtEQBA1lbvzOuLeGLEMQrQog9eKlu35zqPB1q5g-HjlN6jPm-fJURkzQZ0sfqMPKS4UfH0fyVH54PPY_6z44bi1fD46vBZQHoBwQ0n66YJUfBU-1q6uhtiuOLD3iF_8ZpgdxdTFO-ulix7qRsSKvBUydKzztBR691aG-Fv3FmrxKxoWkeg_vP4JYBHwANXXPMU1hCDhSgnNuNdww1do6omYCNE-BpY7LyF0b4lryZy5NxOwZqmH4VHet5-8UVxQb4h3osQP5B4_sr10W9T6Fr6da81eyOjNrY3C7nhz2zLjd9_EKlYdXcWBINcGsAMsTmfQ1iMoVNkUPAcFQA
DATABASE_URL=mongodb+srv://azbotmusik:1234@cluster0.tmuqtnl.mongodb.net/?retryWrites=true&w=majority
REDIS_URI=redis-14926.c295.ap-southeast-1-1.ec2.redns.redis-cloud.com:14926
REDIS_PASSWORD=RgSt1a9Eorhkv8tG1mr8WrGlGA2jMGyl
BOTLOG_CHATID=-4021339213
BOT_TOKEN=8004750273:AAH1d8p4XbLlTgOPfO4OfHhRFCYXEu9CrIQ
BOT_USERNAME=@geoxassist_bot
PM_AUTO_BAN=False
