# Jangan gunakan tanda kutip( " dan ' )

API_KEY=27798315
API_HASH=c640ac790df39174c531bac4c142302e
STRING_SESSION=1BVtsOKMBu7eCYg97yjhUPR7oAU8DqOvoMdHBlVB_tyuuvXeICXb402y8XcEuEql5-aEOiXxLSta8ua3omhVEnhJRnaBsLEn7I0fGXz4ZHsza5UTe-ujuDd8tID3LQVlhPQFULhsy5pHoJdiApA-knKdsGWLkuGE4Jq_tyvwRfAalOKoG5NdNd9OeTjVK-txp1-DEBebPsxLJR_UGpdA-QSxS7j9UQudKQgH4BdzMiucrGHreHWOS1y3qYIVdWIBaovZIWHWdHm-M0VWienRDzKhW1KWWHWuDukdwXrCkVByijsFfZLRNeGmL7i9FOrGuWvA2arMVBqmVyjwDjeUZue0i4paUXqY=
DATABASE_URL=mongodb+srv://belar6011:CkxfzTkzLTaAfoge@cluster0.smhj1eb.mongodb.net/?retryWrites=true&w=majority&appName=Cluster0
REDIS_URI=redis-14926.c295.ap-southeast-1-1.ec2.redns.redis-cloud.com:14926
REDIS_PASSWORD=RgSt1a9Eorhkv8tG1mr8WrGlGA2jMGyl
BOTLOG_CHATID=-1002652143836
BOT_TOKEN=8004750273:AAGuqcJzNrQfT6NE8IfafD_i0_9vw52lp6c
BOT_USERNAME=@geoxassist_bot
PM_AUTO_BAN=False
